<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.plants.dao.AdminDAO">

	<select id="selectSellerList" resultType="kr.green.plants.vo.SellerVO">
	select * from seller where valid='I'
	</select>
	
	<insert id="updateSeller">
	insert into seller(member_id ,num, `name`, address, phone, email)
	values (#{seller.member_id}, #{seller.num}, #{seller.name}, #{seller.address}, #{seller.phone}, #{seller.email})
	</insert>

	<select id="selectMemberList" resultType="kr.green.plants.vo.MemberVO">
	select * from member
	</select>
	
	<select id="selectItemList" resultType="kr.green.plants.vo.ItemVO">
	select * from item where valid = 'I'
	</select>
	
	<select id="selectOptionList" resultType="kr.green.plants.vo.OptionVO">
	select * from `option` where valid = 'I'
	</select>
	
	<insert id="insertItem">
	insert into item(seller_member_id, `name`, category, price, `count`, contents, `file`)
	values(#{item.seller_member_id}, #{item.name}, #{item.category}, #{item.price},
			#{item.count}, #{item.contents}, #{item.file})
	</insert>
	
	<insert id="insertOption">
	insert into `option`(item_num, item_name, `option`, option_price) 
		values(#{opt.item_num}, #{opt.item_name}, #{opt.option}, #{opt.option_price})
	</insert>
	
	<select id="selectOrderList" resultType="kr.green.plants.vo.OrderVO">
	select * from `order`
	join item on item_num = item.num
	join `option` on option_num = `option`.num
	</select>
	
	<select id="selectBoardList" resultType="kr.green.plants.vo.BoardVO">
	select * from board where valid ='I'
	</select>

	<select id="selectRegisteredItemNum" resultType="int">
	select max(num) from `item`;
	</select>
</mapper>