<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.plants.dao.ItemDAO">
	<insert id="insertItem">
	insert into item(seller_member_id, `name`, category, price, `count`, contents, `file`)
	values(#{item.seller_member_id}, #{item.name}, #{item.category}, #{item.price},
			#{item.count}, #{item.contents}, #{item.file})
	</insert>
	
	<select id="selectItem" resultType="kr.green.plants.vo.ItemVO">
	select * from item where valid = 'I'
	</select>
	
	<select id="getItem" resultType="kr.green.plants.vo.ItemVO">
	select * from item where num = #{num}
	</select>
	
	<select id="selectNewItem" resultType="kr.green.plants.vo.ItemVO">
	select * from plants.item order by num desc limit 0, 3;
	</select>
	
	<insert id="insertItemOption">
	insert into `option`(item_name, `option`) 
		values(#{opt.item_name}, #{opt.option})
	</insert>
	
	<select id="selectOption" resultType="kr.green.plants.vo.OptionVO">
	select * from `option` where valid = 'I'
	</select>
	
	<select id="getOption" resultType="kr.green.plants.vo.OptionVO">
	select * from `option` where item_name = #{name} and valid = 'I'
	</select>
</mapper>