<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.spring.dao.BoardDAO">
	<select id="getBoardList" resultType="kr.green.spring.vo.BoardVO">
		select * from board where valid = 'I'
	</select>
	
	<select id="getBoard" resultType="kr.green.spring.vo.BoardVO">
		select * from board where num = #{num} and valid = 'I'
	</select>
	
	<update id="updateViewsDB">
	update board
		set views= views + 1
			where num = #{num} and valid = 'I'
	</update>
	
	<update id="updateBoardDB">
	update board
		set title = #{title}, 
		contents = #{contents}, 
		file = #{file}, 
		views = #{views}
			where num = #{num} and valid = 'I'
	</update>
	<insert id="insertBoardDB">
	insert into board(title, contents, writer, file)
	values(#{title}, #{contents}, #{writer}, #{file})
	</insert>
	<update id="deleteBoardDB">
		update board set
		valid = 'D'
		where num = #{num}
	</update>
	
	
</mapper>