@charset "UTF-8";
@font-face { font-family: 'MapoFlowerIsland'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'JSArirangPPURI-Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirangPPURI-RegularA1.woff') format('woff'); font-weight: normal; font-style: normal; }
h1 {
font-family: 'MapoFlowerIsland';
letter-spacing: 5px;
}
* {
box-sizing: border-box;
text-decoration: none;
font-family: "Nanum Gothic";
font-size: 12px;
color: #555;
}
a, a:hover, a:visited {
text-decoration: none;
color: #555;
}
a:active {
color: #555;
}
label {
margin-bottom: 0;
}
ul {
padding-left:0px;
list-style:none;
margin: 0;
}
.img-sm {
	width: 10px;
	color: #ddd;
}
.btn-1 {
border: 1px solid #777;
border-radius: 5px;
width: 80px;
padding: 5px;
cursor: pointer;
background: #E6ECF2;
text-align: center;
}
.btn-2 {
border: 1px solid #777;
border-radius: 5px;
width: 80px;
padding: 5px;
cursor: pointer;
}
.btn-delete {
display: inline-block;
border: 1px solid #777;
border-radius: 5px;
padding: 2px 5px;
cursor: pointer;
background: #fff;
font-size: 11px;
}
.btn-3 {
float: left;
border: 1px solid #777;
border-radius: 5px;
width: 250px;
height: 50px;
padding: 5px;
cursor: pointer;
background: #364E69;
color: #fff;
letter-spacing: 5px;
font-size: 13px;
font-weight: bold;
text-align: center;
line-height: 38px;
}
.btn-4 {
float: left;
border: 1px solid #777;
border-radius: 5px;
width: 100px;
height: 50px;
padding: 5px;
cursor: pointer;
font-size: 15px;
background: white;
letter-spacing: 3px;
font-size: 13px;
font-weight: bold;
text-align: center;
margin-left: 9px;
line-height: 38px;
}
.num-up, .num-down {
cursor: pointer;
}
.it-num {
all:unset;
border: 1px solid black;
width: 40px;
height: 26px;
}