@charset "EUC-KR";
/*-----------------------------------------------------------------*/
/* 1. font-color
/*-----------------------------------------------------------------*/
	.background-raw{
	color: #ffffff;
	background-color: #b97f6d;
	box-sizing: border-box;
	}

/*-----------------------------------------------------------------*/
/* 2. input - sign
/*-----------------------------------------------------------------*/
	.sign-input, .sign-input:focus{
	display: block;
	border:none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	outline: none;
	width: 320px;
	margin: 0 auto;
	padding-bottom: 10px;
	}
	
	.sign-input::placeholder {
	color: #123132;
	text-align: center;
	}
	
/*-----------------------------------------------------------------*/
/* 3. button
/*-----------------------------------------------------------------*/
	.btn-tree{
	margin: 0 auto;
	color: white;
	background-color: #123132;
	border: none;
	border-radius: 5px;
	width: 150px;
	height: 28px;
	font-size: 11px;
	letter-spacing: 4px;
	}

	.btn-raw{
	margin: 0 auto;
	color:white;
	background-color: #b97f6d;
	border: none;
	border-radius: 5px;
	width: 150px;
	height: 28px;
	font-size: 11px;
	letter-spacing: 4px;
	}
	
	.btn-gray{
	margin: 0 auto;
	color:white;
	background-color: #7f7f7f;
	border: none;
	border-radius: 5px;
	width: 150px;
	height: 28px;
	font-size: 11px;
	letter-spacing: 4px;
	}
	
	.btn-1{
	font-size: 8px;
	width: 40px;
	height: 18px;
	letter-spacing: 2px;
	border-radius: 3px;
	border: 1px solid #b97f6d;
	background-color: rgb(243, 243, 243);
	color: gray;
	margin-left: 10px;
	}
	
	kbd {
	background-color: #f7f7f7;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0 0 2px #fff inset;
	color: #333;
	font-weight: normal;
	margin: 0 .1em;
	padding: .1em .6em;
	text-shadow: 0 1px 0 #fff;
	vertical-align: 2px;
	white-space: nowrap;
	}
/*-----------------------------------------------------------------*/
/* 4. sign - find
/*-----------------------------------------------------------------*/

	
/*-----------------------------------------------------------------*/
/* 4. member
/*-----------------------------------------------------------------*/

