@charset "EUC-KR";


	a, a:hover{
	text-decoration: none;
	color: #000000;
	}

/*-----------------------------------------------------------------*/
/* 1. font-color
/*-----------------------------------------------------------------*/
	.font-black{
	color: #000000;
	font-size: 11px;
	text-align: center;
	}
	
	.font-gray{
	color: #7f7f7f;
	font-size: 11px;
	}
	
	.font-tree{
	color: #123132;
	font-size: 11px;
	}
	
	.font-raw{
	color: #b97f6d;
	font-size: 11px;
	}

	.border-raw{
	border: 1px solid #b97f6d;
	}
/*-----------------------------------------------------------------*/
/* 2. input - sign
/*-----------------------------------------------------------------*/
	.sign-input, .sign-input:focus{
	border:none;
	border-bottom: 1px solid #7f7f7f;
	outline: none;
	width: 320px;
	margin: 0 auto;
	display: block;
	padding-bottom: 10px;
	}
	
	.sign-input::placeholder {
	font-size: 11px;
	color: #123132;
	text-align: center;
	}
	
/*-----------------------------------------------------------------*/
/* 3. button - base
/*-----------------------------------------------------------------*/
	.btn-tree{
	display: block;
	margin: 0 auto;
	color: white;
	background-color: #123132;
	border: none;
	border-radius: 3px;
	width: 350px;
	height: 28px;
	font-size: 10px;
	word-spacing: 3px;
	}

	.btn-raw{
	display: block;
	margin: 0 auto;
	color:white;
	background-color: #b97f6d;
	border: none;
	border-radius: 3px;
	width: 350px;
	height: 28px;
	font-size: 10px;
	word-spacing: 2px;
	}
	
	.btn-1{
	font-size: 8px;
	width: 40px;
	height: 18px;
	letter-spacing: 2px;
	border-radius: 3px;
	border: 1px solid #b97f6d;
	background-color: rgb(243, 243, 243);
	color: gray;
	margin-left: 10px;
	}
/*-----------------------------------------------------------------*/
/* 4. sign - find
/*-----------------------------------------------------------------*/

	.find{
	border: 1px solid #b97f6d;
	width: 320px;
	height: 50px;
	line-height: 48px;
	font-size: 11px;
	text-align: center;
	color: black;
	margin: 0 auto;
	}
	
	.a-gray, .a-gray:hover{
	color: #7f7f7f;
	font-size: 11px;
	letter-spacing: 3px;
	text-decoration: none;
	}
	
	.a-black, .a-black:hover{
	color: #000000;
	font-size: 11px;
	text-decoration: none;
	}
