@charset "EUC-KR";
@font-face { font-family: 'GyeonggiBatang'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'UhBeeDongKyung'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeDongKyung.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'UhBeeSeulvely'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeSeulvely.woff') format('woff'); font-weight: normal; font-style: normal; }

/*-----------------------------------------------------------------*/
/* 3. html
/*-----------------------------------------------------------------*/
	body{
	font-size: 12px;
	box-sizing: border-box;
	font-family: 'Questrial';
	}
	h1, h2, h3, h4{
	font-family: 'GyeonggiBatang';
	}
	a, a:hover{
	text-decoration: none;
	color: #000000;
	}
	
	ul, li{
	text-decoration: none;
	list-style:none;
	padding-left:0px;
	}
	
	.table th{
	border:none;
	}
	

/*-----------------------------------------------------------------*/
/* 1. layout
/*-----------------------------------------------------------------*/
	.gray{
	background-color: #ededed;
	height: auto;
	margin: 0;
	padding: 0;
	}
	
	.white{
	background-color: #ffffff;
	max-width: 90% !important;
	height: auto;
	margin: 0 auto;
	padding-bottom: 10%;
	}
	
	.volume{
	max-width: 1100px;
	padding: 10px;
	margin: 0 auto;

	}

/*-----------------------------------------------------------------*/
/* 3. menu-layout
/*-----------------------------------------------------------------*/
	.mrbx{
	width: 880px;
	height: auto;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid #b97f6d;
	}
/*--------------- m-menu */
	.mlbx{
	width: 200px;
	}
	.am-1 {
	display: block;
	border-radius: 5px;
	position: relative;
	height: 36px;
	line-height: 36px;
	margin: 10px 10px 10px 0;
	padding: 0 15px;
	color: #123132;
	text-decoration: none;
	border: 1px solid #7f7f7f;
	letter-spacing: 3px;
	text-align: left;
	}
	
	.am-1:hover, .am-1.active {
	color: #b97f6d;
	border: 1px solid #7f7f7f;
	background-color: #293949;
	}
	.fa-angle-right {
	line-height: 35px;
	float: right;
	}
	.fas, .fa{
	padding-right: 5px;
	}
	
/*-----------------------------------------------------------------*/
/* 2. login
/*-----------------------------------------------------------------*/
	.shadow{
	width: 500px;
	height: 500px;
	margin: 0 auto;
	}

/*-----------------------------------------------------------------*/
/* 4. item
/*-----------------------------------------------------------------*/

/*-----------------------------------------------------------------*/
/* 5. board
/*-----------------------------------------------------------------*/

/*-----------------------------------------------------------------*/
/* 6. admin
/*-----------------------------------------------------------------*/

	.mm-1 {
	display: block;
	border-radius: 5px;
	position: relative;
	height: 36px;
	line-height: 36px;
	margin: 10px 10px 10px 0;
	padding: 0 15px;
	color: #123132;
	text-decoration: none;
	border: 1px solid #7f7f7f;
	letter-spacing: 3px;
	text-align: left;
	}
	
	.mm-1:hover, .mm-1.active {
	color: #ffffff;
	border: 1px solid #7f7f7f;
	background-color: #b97f6d;
	}
/*-----------------------------------------------------------------*/
/* 1. member
/*-----------------------------------------------------------------*/
	.container-m{
	width: 100%;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	}
/*-----------------------------------------------------------------*/
/* 2. basket
/*-----------------------------------------------------------------*/
	.container-11{
	width: 1100px;
	padding: 10px;
	margin: 0 auto;
	}

/*-----------------------------------------------------------------*/
/* 1. font-color
/*-----------------------------------------------------------------*/
	.background-raw{
	color: #ffffff;
	background-color: #b97f6d;
	box-sizing: border-box;
	}
	mark{
	background-color: #9ebede !important;
	}

/*-----------------------------------------------------------------*/
/* 2. input - sign
/*-----------------------------------------------------------------*/
	.input, .input:focus{
	display: block;
	border:none;
	outline: none;
	width: 350px;
	margin: 0 auto;
	padding-bottom: 10px;
	background-color: #ededed;
	font-size: 22.4px;
	font-family: 'GyeonggiBatang';
	border-radius: 5px;
	
	}
	
	.input::placeholder {
	color: #123132;
	text-align: center;
	}
	
/*-----------------------------------------------------------------*/
/* 3. button
/*-----------------------------------------------------------------*/
	.btn-tree{
	margin: 0 auto;
	color: white;
	background-color: #123132;
	border: none;
	width: 130px;
	height: 35px;
	letter-spacing: 4px;
	font-family: 'Questrial';
	}

	.btn-raw{
	margin: 0 auto;
	color:white;
	background-color: #b97f6d;
	border: none;
	border-radius: 5px;
	width: 200px;
	height: 35px;
	letter-spacing: 4px;
	}
	
	.btn-gray{
	margin: 0 auto;
	color:white;
	background-color: #7f7f7f;
	border: none;
	border-radius: 5px;
	width: 200px;
	height: 35px;
	letter-spacing: 4px;
	}
	
	.btn-gold{
	margin: 0 auto;
	color: #cca300;
	background-color: #293949;
	border: none;
	border-radius: 5px;
	width: 200px;
	height: 35px;
	letter-spacing: 4px;
	}
	
	.btn-sm {
	background-color: #f7f7f7;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0 0 2px #fff inset;
	color: #333;
	font-weight: normal;
	margin: 0 .1em;
	padding: .1em .6em;
	text-shadow: 0 1px 0 #fff;
	vertical-align: 2px;
	white-space: nowrap;
	font-size: 11px;
	letter-spacing: 2px;
	}
/*-----------------------------------------------------------------*/
/* 4. pagination
/*-----------------------------------------------------------------*/
.pagination a, .pagination i {
  color: black;
  float: left;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a:hover, a.active {
  background-color: #b97f6d;
  color: white;
}

/*-----------------------------------------------------------------*/
/* 3. order
/*-----------------------------------------------------------------*/
	
	/* Style the tab */
	.tab {
	  overflow: hidden;
	  border: 1px solid #ccc;
	  background-color: #f1f1f1;
	}
	
	/* Style the buttons that are used to open the tab content */
	.tab button {
	  background-color: inherit;
	  float: left;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  transition: 0.3s;
	}
	
	/* Change background color of buttons on hover */
	.tab button:hover {
	  background-color: #ddd;
	}
	
	/* Create an active/current tablink class */
	.tab button.active {
	  background-color: #ccc;
	}
	
	/* Style the tab content */
	.tabcontent {
	  display: none;
	  padding: 6px 12px;
	  border: 1px solid #ccc;
	  border-top: none;
	}

